// Height values in vh

.h-100vh {
	height: 100vh !important;
}

.h-60vh {
	height: 60vh !important;
}

.h-26vh {
	height: 26vh !important;
}

.h-20vh {
	height: 20vh !important;
}

.h-10vh {
	height: 10vh !important;
}

.h-7vh {
	height: 7vh !important;
}