<footer class="footer ">
	<div class="container">     
		<div class="row align-items-center">
			<div class="col-md-3 h-20vh">
				<h6>Expertises & Conseils</h6>
				<ul class="list-unstyled">
					<li><a href="/webarchitect">Web Architect</a></li>
					<li><a href="/webmarketing">Web Marketing</a></li>
					<li><a href="/webdesign">Web Design</a></li>
				</ul>
			</div>
			<div class="col-md-3 h-20vh">
					<h6>Outils & Techniques</h6>
					<ul class="list-unstyled">
						<li><a href="/solutions-web">Solutions Web</a></li>
						<li><a href="/outils-techniques">Outils techniques</a></li>
					</ul>
			</div>
			<div class="col-md-3 h-20vh">
					<h6>François Perrier</h6>
					<ul class="list-unstyled">
						<li><a href="/a-propos">A Propos</a></li>
						<li>
							<a href="/contact">Contact</a>
							
						<p class="mt-3">06 52 33 40 68</p>
						</li>
					</ul>
			</div>
			<div class="col-md-3 h-20vh">
					<h6>Réseaux sociaux</h6>
				<a target="_blank" href="https://twitter.com/creativetim" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip" data-original-title="Suivez-moi sur Twitter">
					<i class="fab fa-twitter-square"></i>
				</a>
				<a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip" data-original-title="Suivez-moi sur Facebook">
					<i class="fab fa-facebook-square"></i>
				</a>
				<a target="_blank" href="https://www.linkedin.com/creativetim" class="btn btn-neutral btn-icon-only btn-linkedin btn-round btn-lg" data-toggle="tooltip" data-original-title="Suivez-moi LinkedIn">
					<i class="fab fa-linkedin"></i>
				</a>
			</div>
		</div>
		<div class="row justify-content-end">
			<span class="text-muted display-7 badge">
				<i class="fas fa-map-marker-alt mr-2"></i>Site web conçu en Occitanie !</span>
		</div>
		<hr>
		<div class="row justify-content-center">
			<a href="#" class="text-default">Xadezign</a>
		</div>
	</div>
</footer>