<footer class="footer ">
	<div class="container">     
		<div class="row align-items-center">
			<div class="col-md-3 h-20vh">
				<h6>Expertises & Conseils</h6>
				<ul class="list-unstyled">
					<li><a href="{{ base.url | prepend: site.url }}/webarchitect" title="Web Architect">Web Architect</a></li>
					<li><a href="{{ base.url | prepend: site.url }}/webmarketing" title="Web Marketing">Web Marketing</a></li>
					<li><a href="{{ base.url | prepend: site.url }}/webdesign" title="Web Design">Web Design</a></li>
				</ul>
			</div>
			<div class="col-md-3 h-20vh">
					<h6>Outils & Techniques</h6>
					<ul class="list-unstyled">
						<li><a href="{{ base.url | prepend: site.url }}/solutions-web" title="Solutions Web">Solutions Web</a></li>
						<li><a href="{{ base.url | prepend: site.url }}/outils-techniques" title="Outils techniques web">Outils techniques</a></li>
					</ul>
			</div>
			<div class="col-md-3 h-20vh">
					<h6>François Perrier</h6>
					<ul class="list-unstyled">
						<li><a href="{{ base.url | prepend: site.url }}/a-propos" title="A Propos de François Perrier">A Propos</a></li>
						<li>
							<a href="{{ base.url | prepend: site.url }}/contact" title="Contactez François Perrier">Contact</a>
							
						<p class="mt-3">06 52 33 40 68</p>
						</li>
					</ul>
			</div>
			<div class="col-md-3 h-20vh">
					<h6>Réseaux sociaux</h6>
				<a target="_blank" href="https://twitter.com/xadezign" title="Xadezign Twitter Digital" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip" data-original-title="Suivez-moi sur Twitter" title="Twitter Xadezign">
					<i class="fab fa-twitter-square"></i>
				</a>
				<a target="_blank" href="https://www.linkedin.com/xadezign" title="Xadezign LinkedIn Digital" class="btn btn-neutral btn-icon-only btn-linkedin btn-round btn-lg" data-toggle="tooltip" data-original-title="Suivez-moi LinkedIn" title="LinkedIn Xadezign">
					<i class="fab fa-linkedin"></i>
				</a>
			</div>
		</div>
		<div class="row justify-content-end">
			<span class="text-muted display-7 badge">
				<i class="fas fa-map-marker-alt mr-2"></i>Site web conçu à Montauban en Occitanie !</span>
		</div>
		<hr>
		<div class="row justify-content-center">
			<a href="../index" class="text-default" title="Xadezign - François Perrier Consultant et chef de projet Web">Xadezign</a>
		</div>
	</div>
</footer>