<div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default"></div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <div class="container py-lg-md pb-sm-xl d-flex">
            <div class="col px-0">
                    <div class="icon icon-shape bg-white rounded-circle text-white ">
                            {{page.icon}}
                        </div>
                <div class="row pt-2">
                        
                    <div class="col-md-4">
                        
                        <span class="text-yellow badge">{{page.name-badge}}</span>
                        <h1 class="display-4 text-white text-uppercase">{{page.title-h1}}</h1>
                        <p class="text-white-70 mt-1">{{page.lead-title}}</p>
                    </div>
                </div>
            </div>
            </div>
    </section>
</div>