<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
    <meta name="author" content="Xadezign">

	<!-- OpenGraph -->
	<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
	<meta content="{{ page.title }}" property="og:title">
	{% else %}
	<meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if page.title %}
	<meta content="article" property="og:type">
	{% else %}
	<meta content="website" property="og:type">
	{% endif %}
	{% if page.description %}
	<meta content="{{ page.description }}" property="og:description">
	{% else %}
	<meta content="{{ site.description }}" property="og:description">
	{% endif %}
	{% if page.url %}
	<meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	<meta content="{{ site.url }}/about/" property="article:author">
	{% endif %}
	{% if page.image %}
	<meta content="{{ base.url | prepend: site.url }}/assets/img/{{ page.image }}" property="og:image">
	{% else %}
	<meta content="{{ base.url | prepend: site.url }}/assets/img/xadezign_website.jpg" property="og:image">
	{% endif %}
	{% if page.categories %}
	{% for category in page.categories limit:1 %}
	<meta content="{{ category }}" property="article:section">
	{% endfor %}
	{% endif %}
	{% if page.tags %}
	{% for tag in page.tags %}
	<meta content="{{ tag }}" property="article:tag">
	{% endfor %}
	{% endif %}

	
	<!-- Twitter cards -->
	<meta name="twitter:site"    content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{  site.twitter_username }}">
	<meta name="twitter:title"   content="{{ page.title }}">

	{% if page.summary %}
	<meta name="twitter:description" content="{{ page.summary }}">
	{% else %}
	<meta name="twitter:description" content="{{ page.description }}">
	{% endif %}

	{% if page.image %}
	<meta name="twitter:card"  content="summary_large_image">
	<meta name="twitter:image" content="{{ base.url | prepend: site.url }}/assets/img/{{ page.image }}">
	{% else %}
	<meta name="twitter:card"  content="summary">
	<meta name="twitter:image" content="{{ base.url | prepend: site.url }}/assets/img/xadezign_website.jpg">
	{% endif %}
	<!-- end of Twitter cards -->



	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - Xadezign</title>

	<!-- Favicon -->
	<link href="{{ base.url | prepend: site.url }}/assets/img/favicon.svg" rel="icon" type="image/png">
	<!-- Lien Canonique -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Style CSS -->
	<link rel="stylesheet" href="{{ base.url | prepend: site.url }}/css/styles.css">
	
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W3CZVDD');</script>
	<!-- End Google Tag Manager -->

</head> 