---
layout: default
---

{% include header-main.html%}
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">	
                    <div class="text-center">
                        <h2>{{page.a-propos.title}}</h2>
                        <p>{{page.a-propos.body}}</p>
                    </div>	
            </div>
        </div>
    </div>
</section>
<section class="section section-lg">
	<div class="container">
		<div class="row row-grid align-items-center">
			<div class="col-md-6 order-md-2"><img class="img-fluid floating" src="https://picsum.photos/200/300/?random" alt=""></div>
			<div class="col-md-6 order-md-1">
				<div class="pr-md-5">
					<div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"><i class="fas fa-chalkboard-teacher"></i></div>
					<h2>{{ page.fp.title }}</h2>
					<p>{{ page.fp.body1 }}</p>
                    <p>{{ page.fp.body2 }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-timeline">
					<div class="timeline">
						<span class="timeline-icon"><i class="fas fa-chalkboard-teacher"></i></span>
						<span class="year">2016 - 2017</span>
						<div class="timeline-content">
							<h3 class="title">Williamson</h3>
							<span class="post">Web Developer</span>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere.
							</p>
						</div>
					</div>
		
					<div class="timeline">
						<span class="timeline-icon"></span>
						<span class="year">2016 - 2015</span>
						<div class="timeline-content">
							<h3 class="title">Kristiana</h3>
							<span class="post">Web Designer</span>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>