---
layout: default
---

{% include header-main.html%}
    <section class="section section-lg">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">	
                        <div class="text-center">
                            <h2 id="top">{{page.contact.title}}</h2>
                            <p>{{page.contact.body}}</p>
                        </div>	
                </div>
            </div>
        </div>
    </section>