<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3CZVDD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>
	{% include header.html%}
	<main>
		{{content}}
		{% include form-contact.html %}
		{% include footer.html %}
	</main>
	{% include script.html %}
</body>

</html>