---
layout: default
---

{% include header-main.html%}
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">	
                    <div class="text-center">
                        <h2>{{page.webmarketing.title}}</h2>
                        <p>{{page.webmarketing.body}}</p>
                    </div>	
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card--hover mb-5">
					<h2>{{ page.ref-seo.title }}</h2>
				</div>
				<div class="mb-5">
					<p>{{ page.ref-seo.body1 }}</p>
				</div>
				<div class="mb-5">
					<p>{{ page.ref-seo.body2 }}</p>
                </div>
                <div class="mb-5">
					<p>{{ page.ref-seo.body3 }}</p>
				</div>
			</div>
			<div class="col-sm mt-5">
					<img src="{{ base.url | prepend: site.url }}/assets/img/seo_consulting_web.svg" alt="SEO Consulting Web">
			</div>
		</div>
	</div>
</section>
<section class="section section-lg section-shaped pb-150">
    <div class="shape shape-style-1 shape-default"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pt-200">
                <h2 class="text-white">Marketing Automation</h2>
            </div>
            <div class="col-lg-8">
				<div class="row">
					<div class="col-lg-6">
						<div class="card shadow shadow-lg--hover mt-5 h-26vh">
							<div class="card-body">
								<div class="d-flex px-3">
										<div class="icon icon-shape bg-gradient-purple rounded-circle text-white">
											{{ page.ma.capture.icon }}
										</div>
									<div class="pl-4">
										<h6 class="title text-primary">{{ page.ma.capture.title }}</h6>
										<p>{{ page.ma.capture.body }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card shadow shadow-lg--hover mt-5 h-26vh">
							<div class="card-body">
								<div class="d-flex px-3">
									<div class="icon icon-shape bg-gradient-pink rounded-circle text-white">
										{{ page.ma.qual.icon }}
									</div>
								<div class="pl-4">
									<h6 class="title text-primary display-6">{{ page.ma.qual.title }}</h6>
									<p>{{ page.ma.qual.body }}</p>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="card shadow shadow-lg--hover mt-5 h-26vh">
							<div class="card-body">
								<div class="d-flex px-3">
									<div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
										{{ page.ma.nurtur.icon }}
									</div>
									<div class="pl-4">
										<h6 class="title text-primary">{{ page.ma.nurtur.title }}</h6>
										<p>{{ page.ma.nurtur.body }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card shadow shadow-lg--hover mt-5 h-26vh">
							<div class="card-body">
								<div class="d-flex px-3">
									<div class="icon icon-shape bg-gradient-green rounded-circle text-white">
										{{ page.ma.pilot.icon }}
									</div>
									<div class="pl-4">
										<h6 class="title text-primary">{{ page.ma.pilot.title }}</h6>
										<p>{{ page.ma.pilot.body }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">	
				<div class="text-center">
					<h2>{{page.analyses.title}}</h2>
					<p>{{page.analyses.body}}</p>
				</div>	
            </div>
		</div>
		<div class="row justify-content-center text-center">
			<div class="col-lg-6 mt-5">
				<div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
					{{ page.analytics.icon }}
				</div>
				<h3>{{ page.analytics.title }}</h3>
				<p>{{ page.analytics.body }}</p>
				<img class="img-fluid floating" src="{{ base.url | prepend: site.url }}/assets/img/data_analytics_reports.svg" alt="">
			</div>
			<div class="col-lg-6 mt-5">
				<div class="icon icon-shape bg-gradient-blue rounded-circle text-white">
					{{ page.data-studio.icon }}
				</div>
				<h3>{{ page.data-studio.title }}</h3>
				<p>{{ page.data-studio.body }}</p>
				<img class="img-fluid floating" src="{{ base.url | prepend: site.url }}/assets/img/datastudio_google_reports.jpg" alt="">
			</div>
		</div>
    </div>
</section>