---
layout: default
---

<div class="position-relative">
	<!-- shape Hero -->
	<section class="section section-lg section-shaped pb-250">
		<div class="shape shape-style-1 shape-default"></div>
		<!-- SVG separator -->
		<div class="separator separator-bottom separator-skew">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
		<div class="container py-lg-md pb-sm-xl d-flex">
			<div class="col px-0">
				<div class="row">
					<div class="col-md-4">
                        <div class="icon icon-shape bg-white rounded-circle text-white">
                            <i class="fas fa-pen text-purple"></i>
                        </div>
						<span class="text-yellow badge">{{page.name-badge}}</span>
						<h1 class="display-4 text-white text-uppercase">{{page.title-h1}}</h1>
						<p class="text-white mt-1">{{page.lead-title}}</p>
					</div>
				</div>
			</div>
		 </div>
	</section>
</div>
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">	
                    <div class="text-center">
                        <h2>{{page.webarchitect-title}}</h2>
                        <p>{{page.webarchitect-body}}</p>
                    </div>	
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card--hover mb-5">
					<h2>Titre</h2>
					<p>Texte de description</p>
				</div>
				<div class="mb-5">
					<h2>Titre</h2>
					<p>Texte de description</p>
				</div>
				<div class="mb-5">
					<h2>Titre</h2>
					<p>Texte de description</p>
				</div>
			</div>
			<div class="col-sm">
				<div class="card card-profile shadow">
					<img src="https://picsum.photos/200/300/?random" alt="">
					<p>Test</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section-lg">
	<div class="container">
		<div class="row row-grid align-items-center">
			<div class="col-md-6 order-md-2"><img class="img-fluid floating" src="https://picsum.photos/200/300/?random" alt=""></div>
			<div class="col-md-6 order-md-1">
				<div class="pr-md-5">
					<div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"><i class="fas fa-chalkboard-teacher"></i></div>
					<h2>Test</h2>
					<p class="lead">Test paragraphe</p>
					<p>Test paragraphe</p>
					<p>Test paragraphe</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section bg-secondary">
	<div class="container">
		<div class="row row-grid align-items-center h-60vh pb-250">
			<div class="col-md-6">
				<div class="card bg-default shadow border-0">
					<img class="img-card-top" src="https://picsum.photos/200/300/?random" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="pl-md-5">
					<div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
							<i class="fas fa-hand-point-right"></i>
					</div>
					<h2>Titre</h2>
					<p class="lead">Description</p>
					<p>Description</p>
				</div>
			</div>
		</div>
	</div>
	<div class="separator separator-bottom separator-skew">
		<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="card card-profile shadow mt--100 mb-5 mb--100">
				<div class="row justify-content-center h-7vh">
					<div class="col-lg-6 order-lg-6 text-center">
						<h3 class="pt-2">Processus de production</h3>
					</div>
				</div>
				<div class="mt-1 py-5 border-top text-center bg-secondary">
					<div class="row justify-content-center ">
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
								<i class="fas fa-project-diagram"></i>	
							</div>
							<p>Analyse</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
								<i class="fas fa-pen"></i>	
							</div>
							<p>UI Design</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
								<i class="fas fa-cogs"></i>	
							</div>
							<p>Développement</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
								<i class="fas fa-flask"></i>	
							</div>
							<p>Tests & qualités</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
								<i class="fas fa-poll"></i>	
							</div>
							<p>Suivi & reports</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
{{ content }}