---
layout: default
---

{% include header-main.html%}
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">	
                    <div class="text-center">
                        <h2>{{page.webarchitect.title}}</h2>
                        <p>{{page.webarchitect.body}}</p>
                    </div>	
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card--hover mb-5">
					<h3>{{ page.gestion.title }}</h3>
					<p>{{ page.gestion.body }}</p>
				</div>
				<div class="mb-5">
					<h3>{{ page.agile.title }}</h3>
					<p>{{ page.agile.body }}</p>
				</div>
				<div class="mb-5">
					<h3>{{ page.presta.title }}</h3>
					<p>{{ page.presta.body }}</p>
				</div>
				<div class="mb-5">
					<h3>{{ page.moa.title }}</h3>
					<p>{{ page.moa.body }}</p>
				</div>
			</div>
			<div class="col-sm">
				
					<img src="/assets/img/webarchitect_consulting.png" alt="Tests des Outils web et digitaux">
				
			</div>
		</div>
	</div>
</section>
<section class="section section-lg bg-secondary">
	<div class="container">
		<div class="row row-grid align-items-center">
			<div class="col-md-6 order-md-2"><img class="img-fluid floating" src="/assets/img/formation_web.svg" alt="Formation aux outils web & digitaux"></div>
			<div class="col-md-6 order-md-1">
				<div class="pr-md-5">
					<div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"><i class="fas fa-chalkboard-teacher"></i></div>
					<h2>{{ page.formation.title }}</h2>
					<p>{{ page.formation.body1 }}</p>
					<p>{{ page.formation.body2 }}</p>
					<p>{{ page.formation.body3 }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section ">
	<div class="container">
		<div class="row row-grid align-items-center h-60vh pb-250 mb-5">
			<div class="col-md-6">
				<img class="img-card-top" src="/assets/img/web_architect_report.svg" alt="Stratégie Web & Digitale">
			</div>
			<div class="col-md-6">
				<div class="pl-md-5">
					<div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
							<i class="fas fa-hand-point-right"></i>
					</div>
					<h2>{{ page.strategie.title }}</h2>
					<p>{{ page.strategie.body }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="separator separator-bottom separator-skew">
		<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="card card-profile shadow mt--100 mb-5 mb--100">
				<div class="row justify-content-center h-7vh">
					<div class="col-lg-6 order-lg-6 text-center">
						<h3 class="pt-2">Processus de production</h3>
					</div>
				</div>
				<div class="mt-1 py-5 border-top text-center bg-secondary">
					<div class="row justify-content-center ">
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-1">
								<i class="fas fa-project-diagram text-white"></i>	
							</div>
							<p>Analyse</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-1">
								<i class="fas fa-pen text-white"></i>	
							</div>
							<p>UI Design</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-1">
								<i class="fas fa-cogs text-white"></i>	
							</div>
							<p>Développement</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-1">
								<i class="fas fa-flask text-white"></i>	
							</div>
							<p>Tests & qualités</p>
						</div>
						<div class="col-lg-2">
							<div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-1">
								<i class="fas fa-poll text-white"></i>	
							</div>
							<p>Suivi & reports</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
{{ content }}