---
layout: default
---

{% include header-main.html%}
<section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row row-grid">
            <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                            <i class="fas fa-feather-alt"></i>
                        </div>
                        <h6 class="text-primary text-uppercase">{{ page.adminless.title }}</h6>
                        <p class="description mt-3">{{ page.adminless.body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                            <i class="fas fa-toolbox"></i>
                        </div>
                        <h6 class="text-success text-uppercase">{{ page.admin.title }}</h6>
                        <p class="description mt-3">{{ page.admin.body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                            <i class="fas fa-cut"></i>
                        </div>
                        <h6 class="text-warning text-uppercase">{{ page.custom.title }}</h6>
                        <p class="description mt-3">{{ page.custom.body }}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2"><img class="img-fluid floating" src="/assets/img/technology_solution_tools.svg" alt="Outils & Techniques Web"></div>
            <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                    <h2 class="text-uppercase">{{ page.tools.title }}</h2>
                    <p>{{ page.tools.body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pb-0 bg-gradient-warning">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-1">
                <div class="card shadow shadow-lg--hover mt-5">
                    <div class="card-body">
                        <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-purple rounded-circle text-white">
                                {{ page.tools.cms.icon }}
                            </div>
                        </div>
                        <div class="pl-4">
                                <h5 class="title text-primary">{{ page.tools.cms.title }}</h5>
                                <p>{{ page.tools.cms.body }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow shadow-lg--hover mt-5">
                    <div class="card-body">
                        <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                                {{ page.tools.sg.icon }}
                            </div>
                        </div>
                        <div class="pl-4">
                                <h5 class="title text-danger">{{ page.tools.sg.title }}</h5>
                                <p>{{ page.tools.sg.body }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-lg-1">
                <div class="card shadow shadow-lg--hover mt-5">
                    <div class="card-body">
                        <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-purple rounded-circle text-white">
                                {{ page.tools.headless.icon }}
                            </div>
                        </div>
                        <div class="pl-4">
                            <h5 class="title text-primary">{{ page.tools.headless.title }}</h5>
                            <p>{{ page.tools.headless.body }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                    <div class="card shadow shadow-lg--hover mt-5">
                        <div class="card-body">
                            <div class="d-flex px-3">
                                <div>
                                    <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                                        {{ page.tools.pwa.icon }}
                                    </div>
                                </div>
                                <div class="pl-4">
                                    <h5 class="title text-danger">{{ page.tools.pwa.title }}</h5>
                                    <p>{{ page.tools.pwa.body }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2"><img class="img-fluid floating" src="/assets/img/erp_crm_solutions.svg" alt="Outils ERP & CRM"></div>
            <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                    <h3>{{ page.tools.erp.title }}</h3>
                    <p>{{ page.tools.erp.body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-secondary">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-1"><img class="img-fluid floating" src="/assets/img/map_cartography_consulting.svg" alt="Outils cartographies Web"></div>
            <div class="col-md-6 order-md-2">
                <div class="pr-md-5">
                    <h3>{{ page.tools.carto.title }}</h3>
                    <p>{{ page.tools.carto.body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>