---
layout: default
---
{% include header-main.html%}
<section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row row-grid">
            <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                            <i class="fas fa-building"></i>
                        </div>
                        <h6 class="text-primary text-uppercase">{{ page.admin.title }}</h6>
                        <p class="description mt-3">{{ page.admin.body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <h6 class="text-success text-uppercase">{{ page.entreprises.title }}</h6>
                        <p class="description mt-3">{{ page.entreprises.body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                            <i class="fas fa-users"></i>
                        </div>
                        <h6 class="text-warning text-uppercase">{{ page.associations.title }}</h6>
                        <p class="description mt-3">{{ page.associations.body }}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2"><img class="img-fluid floating" src="/assets/img/digital_technology_solutions.svg" alt="Solutions & Conseils Web"></div>
            <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                    <h2>{{ page.solutions.title }}</h2>
                    <p>{{ page.solutions.body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pb-0 bg-gradient-warning">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-1">
                <div class="card shadow shadow-lg--hover mt-5">
                    <div class="card-body">
                        <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-purple rounded-circle text-white">
                                {{ page.ecommerce.icon }}
                            </div>
                        </div>
                        <div class="pl-4">
                                <h5 class="title text-primary">{{ page.ecommerce.title }}</h5>
                                <p>{{ page.ecommerce.body }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow shadow-lg--hover mt-5">
                    <div class="card-body">
                        <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                                {{ page.corporate.icon }}
                            </div>
                        </div>
                        <div class="pl-4">
                                <h5 class="title text-danger">{{ page.corporate.title }}</h5>
                                <p>{{ page.corporate.body }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-lg-1">
                <div class="card shadow shadow-lg--hover mt-5">
                    <div class="card-body">
                        <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape bg-gradient-purple rounded-circle text-white">
                                {{ page.blog.icon }}
                            </div>
                        </div>
                        <div class="pl-4">
                            <h5 class="title text-primary">{{ page.blog.title }}</h5>
                            <p>{{ page.blog.body }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                    <div class="card shadow shadow-lg--hover mt-5">
                        <div class="card-body">
                            <div class="d-flex px-3">
                                <div>
                                    <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                                        {{ page.intranet.icon }}
                                    </div>
                                </div>
                                <div class="pl-4">
                                    <h5 class="title text-danger">{{ page.intranet.title }}</h5>
                                    <p>{{ page.intranet.body }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="section">
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6">
                <img src="/assets/img/webmarketing.svg" class="card-img-top" alt="web marketing solution web">
            </div>
            <div class="col-md-6">
              <div class="pl-md-5">
                <span class="badge">{{page.webmarketing.badge}}</span>
                <h3>{{ page.webmarketing.title }}</h3>
                <p class="lead">{{ page.webmarketing.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>